<p>
  <strong>Название компании:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Город:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Почта:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @user.phone %>
</p>
